html, body {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#container {
    position: relative;
    height: 90%;
    width: clamp(1125px, 100%, 1500px);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border: 2px solid gray;
    flex-wrap: wrap;
}

#guesses {
    position: absolute;
}

#words {
    position: absolute;
    left: 1%;
    height: 56%;
    width: 33%;
    border: solid 1px black;
}

#words p {
    position: absolute;
    left: 4%;
    font-size: .85em;
    top: 4%;
}

.best {
    font-weight: bold;
}

#letters {
    border: 1px solid black;
    position: absolute;
    right: 4%;
    height: 56%;
    width: 28%;
}

#letters ul {
    display: flex;
    flex-direction: column;
    height: 90%;
    flex-wrap: wrap;
    list-style: none;
    margin: 2%;
}

h2 {
    font-size: 1rem;
    margin: 0;
    text-align: center;
}

:root {
    --table-width: 600px
}

table { 
    width: var(--table-width);
    margin: 0px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

#exclude table {
    border-bottom: none;
}

html {
    font-size: 140%;
    font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
}

td { 
    height: 2.5rem;
    padding: 5px;
}

input {
    width: 100%;
    height: 100%;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    text-align: center;
    caret-color: transparent;
    border: none;
}


#correct input {
    background-color: #6AAA64;
}

#wrong_spots input {
    background-color: #C9B458;
}

#exclude input {
    background-color: #787C7E;
    caret-color: white;
}

input:focus {
    outline: none;
}

input:focus:not(#exclude input) {
    height: 110%;
}

textarea:focus {
    outline: none;
}
















