:root {
    --correct-color:rgb(83, 141, 78);
    --wrong-spot-color:rgb(181, 159, 59);
    --incorrect-color:rgb(58, 58, 60);
    --ignore-color:rgb(245, 245, 245);
    --input-color: gray;
    --off-white: #FCF7F8;
    --background: #D0F4EA;
    --bar-color: #3891A6;
    --words-visibility: "transparent";
}

html {
    font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
}

html, body {
    height: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: var(--background);
}

#container {
    top: -2.5rem;
    position: relative;
    height: 90%;
    width: min(450px, 100%);
    margin: 0;
    padding: 0;
}

#container > div {
    flex-grow: 0;
}

/* GUESS AND ALL SUB DIVS */
/* CONATINS ALL INFO ON WORDS ENTERED & PATTERNS */
#guesses {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding-top: .5rem;
}

#grid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 95%;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    width: min(630px, 100%);
}

.tile {
    flex: 1 1 0px;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    border-radius: 0;
    border: none;
    color: white;
    margin: 0;
    margin-right: 1px;
    margin-bottom: 1px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
 
.tile.normal {
    max-width: 3.5rem;
    height: 3.5rem;
}

.tile.testing {
    font-size: 1rem;
    max-width: 2rem;
    height: 2rem;
    margin: 0;
}

#calculate {
    margin-top: .5rem;
    margin-bottom: .5rem;
    display: flex;
    justify-content: center;
    column-gap: 1rem;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    font-size: .875rem;
    border-radius: 0.25rem;
    background: var(--off-white);
    color: var(--incorrect-color);
    border: 2px solid var(--incorrect-color);
}

select {
    border-radius: 0.125rem;
    color: var(--incorrect-color);
    text-align: center;
}

#refresh {
    position: absolute;
    margin-left: -15.5rem;
    top: 1.125rem;
}

.header-button {
    position: absolute;
    top: 1.25rem;
    z-index: 100;
}

.info {
    left: .5rem;
}

.test {
    right: .5rem;
}

button:not(.tile):hover, select:hover {
    filter: brightness(90%);
}

button:hover, .tile:hover {
    cursor: pointer;
}

#word_entered {
    background-color: var(--input-color);
    caret-color: white;
    border: solid 1px black;
    color: white;
    height: 2rem;
    font-size: 1.2rem;
    width: min(95%, 12rem);
    text-align: center;
    margin: .5rem;
}

#word_entered::placeholder {
    color: var(--off-white);
}

#word_entered:focus::placeholder {
    color: transparent;
}

*:focus {
    outline: none;
}

/* HEADING & TITLE */
/* INCLUDES TITLE @ TOP OF PAGE AND LETTER COUNT SELECTOR */
#header {
    margin: 1rem;
    text-align: center;
    flex-basis: 100%;
    font-variant-caps: small-caps;
}

#header h1, h3 {
    margin: 0;
    padding: 0;
    min-height: 1rem;
}

#info {
    width: min(630px, 95%);
    margin: auto;
    position: absolute;
    overflow: hidden;
    text-align: center;
    background: var(--off-white);
    border: solid 1px black;
    z-index: 100;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-left: .5rem;
    padding-right: .5rem;
    max-height: 0;
}

#info p {
    margin: .75rem;
}

.top {
    text-align: center;
    margin-top: 1rem;
    border-bottom: solid 1px black;
    width: 90%;
}

.mini {
    font-size: .875rem;
    text-align: left;
    border-bottom: solid 1px black;
    width: 90%;
}

.pictures {
    margin-top: .5rem;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.hide {
    animation: hide .4s forwards;
}

.display {
    animation: display .7s forwards;
}

.dummy {
   display: inline; 
}

@keyframes hide {
    from {
        max-height: 200%;
    }

    to {
        max-height: 0;
    }
}

@keyframes display {
    from {
        max-height: 0;
    }

    to {
        max-height: 200%;
    }
}


/* ANSWERS */
/* CONTAINS ALL INFO SHOWN IN SUGGESTION BOX */
/* LIST OF BEST ANSWERS, NUMBER OF WORDS LEFT, REFRESH BUTTON */
#suggestions {
    margin-top: .5rem;
    width: min(630px, 95%);
    margin: auto;
    position: relative;
    overflow: hidden;
    text-align: center;
    background: #FFC2B4;
    border: solid 3px black;
    border-radius: .75rem;
}

h2.num_options {
    text-align: center;
    margin: 0;
    margin-top: .5rem;
}

h3.by_likelihood {
    font-size: .75rem;
    text-align: center;
}

.showlist {
    position: relative;
    text-decoration: underline;
}

.showlist:hover {
    cursor: pointer;
}

.showlist div {
    display: inline-block;
    position: absolute;
    width: 100%;
    font-size: .75rem;
    top: 1rem;
    overflow-y: scroll;
    max-height: 350px;
}

.showlist div:not(.showlist div.visible) {
    background: transparent;
    border: none;
    z-index: -1;
}

.visible {
    background: var(--off-white);
    color: var(--incorrect-color);
    border: 1px solid black;
    z-index: 100;
}

.visible p {
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.label {
    display: inline;
    vertical-align: middle;
}

#mode {
    margin: .75rem;
}

h3.best_options {
    font-size: .875rem;
    text-align: center;
    margin-bottom: .25rem;
    text-transform: uppercase;
}

#answers {
    position: relative;
}

.best-guesses {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: var(--incorrect-color);
    color: var(--off-white);
}

.back {
    z-index: -1;
}

.front {
    z-index: 99;
}

.best-guesses.normal {
    position: absolute;
}

.normal .word-list {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.best-guesses.hard {
    top: 0;
}

.hard > h3 {
    border-bottom: solid 1px #FCF7F8;
    width: 90%;
    font-size: 1rem;
    margin-bottom: 0.5rem;
    font-style: italic;
}

.hard > h3:first-child {
    margin-top: .5rem;
}



ul {
    margin: 0;   
    padding: 0;
    list-style: none;
    margin-bottom: 0;
}

ul:not(.best-letters) li:not(.others) {
    max-width: 100%;
    min-height: 2rem;
    flex: 1;
}

li:not(.likely, .others) {
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: pre-wrap;
}

.others {
    height: unset;
    text-align: center;
    padding: .5rem;
}

.likely {
    padding: .5rem;
    text-align: center;
    padding-bottom: 0;
}

.others, .likely {
    display: block;
}

#nowords {
    margin: 1rem;
    font-style: italic;
}

.suggestion {
    display: inline;
    left: 1rem;
    position: absolute;
    font-weight: bold;
}

.score {
    display: inline;
    position: absolute;
    right: 1rem;
    font-style: italic;
}

.final {
    font-weight: bold;
}

/* BOT */
/* CONTAINS ALL INFO DISPLAYED IN WORDLE BOT */
/* BAR GRAPHS, AVERAGE, SUMMARY MESSAGE, & TEST SETTINGS */
#results {
    background: rgb(18, 18, 19);
    margin: auto;
    position: absolute;
    height: 100%;
    width: min(100%, 450px);
    color: white;
    font-weight: bold;
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    column-gap: 2px;
    bottom: 0;
    justify-content: center;
    z-index: -1;
}

#results.testing {
    z-index: 99;
    color: black;
}

#suggestions.testing {
    min-height: 400px;
}

#test-settings {
    position: absolute;
    bottom: 7rem;
    width: max(280px, 75%);
    height: 50%;
    border: solid 1px black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 1.5rem;
    background: var(--background);
    padding: .5rem;
}

.disclaimer {
    font-size: .875rem;
    font-weight: normal;
}

.info {
    padding: .5rem;
    text-align: center;
}

#testword {
    text-align: center;
    width:7rem;
}

label {
    display: inline-block;
}

input[type=checkbox] {
    display: inline-block;
}

.close {
    position: absolute;
    top: .25rem;
    left: .25rem;
    background: var(--background);
    color: var(--incorrect-color);
}

.close::after {
    content: "\2716";
    display: inline-block;
}

.current {
    margin: auto;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    top: 0;
}

.average {
    position: absolute;
    top: 12rem;
    color: var(--off-white);
}

.bar {
    position: relative;
    background: var(--bar-color);
    color: var(--off-white);
    box-shadow: 0 0 0 2px black;
    border-bottom: none;
    text-align: center;
    display: flex;
    justify-content: center;
    flex: 1;
}

.num-guesses {
    position: absolute;
    bottom: 0;
}

.count {
    position: absolute; 
    top: -1.2rem;
}

#summary {
    font-size: 1.25rem;
    position: absolute;
    text-align: center;
    width: 85%;
    margin-top: 2.5rem;
    color: var(--off-white);
}

#wrongs {
    font-size: 1rem;
    margin: 1rem;
}


/* BEST LETTERS */
/* ALL DIVS FOR INFO BY LETTER */
#letters-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: min(630px, 100%);
}

#letter-info h2 {
    text-align: center;
    margin: 0.75rem;
    font-variant-caps: small-caps;
}

.best-letters {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: .25rem;
    column-gap: .25rem;
    margin: .5rem;
}

.best-letters li {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.letter-ranking {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    aspect-ratio: 1;
    height: 4rem;
    color: var(--off-white);
    background: var(--correct-color);
}

.letter {
    font-weight: bold;
    font-size: 1.75rem;
}

.frequency {
    font-size: .9rem;
    font-style: italic;
}

/* sliders */
.switch {
    position: relative;
    display: inline-block;
    height: 1.375rem;
    aspect-ratio: 1.765;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .2s;
  transition: .2s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 76.5%;
  aspect-ratio: 1;
  left: 6.67%;
  bottom: 13%;
  background-color: white;
  -webkit-transition: .2s;
  transition: .2s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
}

/* Rounded sliders */
.slider.round {
  border-radius: 100vh;
}

.slider.round:before {
  border-radius: 50%;
}

/* G --> CORRECT */
/* Y --> WRONG SPOT */
/* B --> INCORRECT */
.G {
    background: var(--correct-color);
}

.B {
    background: var(--incorrect-color);
}

.Y {
    background: var(--wrong-spot-color);
}