html, body {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#container {
    position: relative;
    height: 90%;
    width: clamp(1125px, 100%, 1500px);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border: 2px solid gray;
    flex-wrap: wrap;
    column-gap: 20px;
}

#guesses {
    /* position: absolute; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#words {
    /* position: absolute; */
    position: relative;
    /* left: 1%; */
    height: 56%;
    width: 22%;
    border: solid 1px black;
    overflow: hidden;
}

#words p {
    position: absolute;
    left: 4%;
    font-size: .75em;
    top: 8%;
}

.best {
    font-weight: bold;
}

#letters {
    border: 1px solid black;
    /* position: absolute; */
    /* right: 4%; */
    height: 56%;
    width: 22%;
}

#letters ul {
    column-count: 2;
    column-gap: 5%;
    list-style: none;
}

h2 {
    font-size: 1rem;
    margin: 0;
    text-align: center;
}

#words h2, #letters h2 {
    border-bottom: 1px solid gray;
}

table { 
    margin: 0px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

#exclude table {
    border-bottom: none;
}

html {
    font-size: 140%;
    font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
}

td { 
    height: 2.5rem;
    padding: 5px;
}

input {
    width: 100%;
    height: 100%;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    text-align: center;
    caret-color: transparent;
    border: none;
}


#correct input {
    background-color: #6AAA64;
}

#wrong_spots input {
    background-color: #C9B458;
}

#exclude input {
    background-color: #787C7E;
    caret-color: white;
}

input:focus {
    outline: none;
}

input:focus:not(#exclude input) {
    height: 110%;
}

textarea:focus {
    outline: none;
}

#reset {
    position: absolute;
    bottom: 5%;
    height: 50px;
    width: 100px;
    font-size: 1em;
}

#slider {
    position: absolute;
    top: 5%;
    width: min(100%, 250px);
}













